## Copy this file to .env and fill in the values (do NOT commit .env)
# Example for Aiven MySQL (fill JDBC_DATABASE_PASSWORD with your secret)

JDBC_DATABASE_URL=jdbc:mysql://pvp-database-pvp-project.i.aivencloud.com:15291/defaultdb?sslMode=REQUIRED
JDBC_DATABASE_USERNAME=avnadmin
JDBC_DATABASE_PASSWORD=REPLACE_WITH_PASSWORD
JPA_DDL_AUTO=update
